
.home__main-section {
    padding: 160px 0;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% ;

}

.home__main-row {
    align-items: center;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
} 


.col {
    margin-bottom: 15px;
    padding-right: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}



.home__main-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
    
}



.buttonLabel {
    font-size: 100px;
}
.bottom-line {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 154.9%;    
    letter-spacing: 1.4px;
    /* text-transform: uppercase; */
}

.heading {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.76);
    
}

.home__main-subtitle {
    color: rgba(0, 0, 0, 0.73);
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
}

.home__main-img-wrapper {
    max-width: 555px;
    margin-right: 10px;
    margin-left: 100px; 
 
}

.home__main-img {
    max-width: 95%;
    width: 390px;
    height: 390px;
    margin-top: 0;
    float: right;
    filter: drop-shadow(0px 44px 100px rgba(0, 0, 0, 0.25)) drop-shadow(-45px -30px 0px rgba(16, 149, 224, 0.15));

}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

@media screen and (max-width : 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width : 760px) {
    .home__main-text-wrapper {
        padding-bottom: 65px;
        padding-left: 100px;
    }

    .home__main-img-wrapper {
        margin-left: 0px;
    }
    .heading {
        font-size: 30px;
    }
    

    .col {
        max-width: 100%;
        flex-basis: 100%;
        align-items: c;
    }
}

.buttonLabel {
    font-weight: 700;
}

