.main-body {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background-color: #d4e9fd;
}
/**************** left ****************/
.margin-left {
  float: left;
}

.main-image {
  width: 350px;
  height: 500px;
  margin-right: 50px;
}

/**************** right ****************/
.main-right {
}
.main-right-top {
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  display: inline;
}

.main-right-top > p {
  font-weight: 600;
  margin-bottom: 25px;
  transition: all 1s;
  transition-timing-function: ease;
}
.main-right-top > p:hover {
  transition: all 1s;
  transition-timing-function: ease;
  transition: translateX(2rem);
}
.main-right-top > span {
  margin-bottom: 25px;
}
.main-right-middle {
}
.main-right-middle-uploadimg {
  display: block;
  margin: auto;
}
.main-right-bottom-p {
  font-size: 15px;
  line-height: 35px;
  text-align: center;
}
