
.mid-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.aboutme_mid {
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}


.mypage_post {
  padding-right: 30px;
  outline: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.664);
}
.mypage_aboutme {
  padding-left: 30px;
  outline: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.664);
}

.mypage_aboutme:hover, .mypage_post:hover {
  color: rgba(0, 0, 0, 0.877);
}


