.singlepost {
  width: 450px;
  /* border: 1px solid brown; */
}
.single-edit {
  margin-top: 45px;
  height: 450px;
}
.singlepost-img {
  border-radius: 2em;
  /* height: 300px; */
  /* border: 1px solid black; */
}
.singlepost-textarea {
  width: 450px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  /* border: 1px solid black; */
}
.singlepost-p {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  /* border: 1px solid red; */
}
#singlepost-btn {
  position: relative;
  z-index: 100;
  float: right;
  opacity: 70%;
  color: lightgrey;
  margin-top: -375px;
  margin-right: 70px;
}

#singlepost-delete {
  color: lightgrey;
  position: relative;
  z-index: 100;
  float: right;
  opacity: 70%;
  margin-top: -375px;
  margin-right: 25px;
}
