.singlepost {
  width: 450px;
  /* border: 1px solid brown; */
}
.singlepost-img {
  border-radius: 2em;
  height: 300px;
  /* border: 1px solid black; */
}
.singlepost-p {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  /* border: 1px solid red; */
}
